streamlit

# PyTorch CPU compatible with Python 3.11
torch==2.8.0+cpu
torchvision==0.15.2+cpu
torchaudio==2.8.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

# Core Python libraries
numpy
matplotlib
Pillow
scikit-learn
tqdm
